@{
    ViewBag.Title = "Mining Control Report";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
             </br>
            <hgroup class="title">
               
                <h3>@ViewBag.Message </h3>
            </hgroup>
            </br>
        </div>
    </section>
}

<div id="report">
<iframe NAME="esquerda" src="http://localhost:46026/Reports/ReportView.aspx" width="900" height="600" > </iframe>
</div>