@{
    ViewBag.Title = "Mining Control Report";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
             </br>
            <hgroup class="title">
               
                <h3>@ViewBag.Message </h3>
            </hgroup>
            </br>
        </div>
    </section>
}

<div id="report">
<iframe NAME="esquerda" src="@ViewBag.Report" width="900" height="800" > </iframe>
 <!--<iframe NAME="esquerda" src="http://localhost/MC/Reports/acomp_frotas.aspx" width="900" height="600" > </iframe>-->
</div>