@{
    ViewBag.Title = "Role Listing";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            </br>
            <hgroup class="title">

                <h3>Cadastro de Perfil de Usuários </h3>
            </hgroup>
            </br>
        </div>
    </section>
}



<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")

    @ViewBag.ResultMessage 
    <div class="table">
        
    
@foreach (string s in Model)
{
    <div class="tr">
        
            @s
       
        
            <span onclick="return confirm('Are you sure to delete?')">
        <a href="/Account/RoleDelete?RoleName=@s" > Delete</a>
                           </span>
      
    </div>
}
        </div>
</div>